.popup__container-zoom-card {
  margin: 0;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0;
  border-radius: none;
  background-color: transparent;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
