.profile__info-subtitle {
  margin: 0 0 0 0;
  max-width: 294px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
}

@media screen and (max-width: 725px) {
  .profile__info-subtitle {
    max-width: 100%;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
  }
}
