.header {
  margin: 45px auto 0 auto;
  width: calc(100% - 400px);
  border-bottom: rgba(84, 84, 84, 70%) solid 1px;
}

@media screen and (max-width: 1024px) {
  .header {
    width: calc(100% - 100px);
  }
}

@media screen and (max-width: 768px) {
  .header {
    width: calc(100% - 38px);
  }
}

@media screen and (max-width: 425px) {
  .header {
    margin: 28px auto 0 auto;
    
    width: 100%;
  }
}
